extends layout

block content
  a.signin-btn(href='https://github.com/derekr/tabitha-chrome-extension/releases/download/v1.0.2/tabitha.crx') Download Chrome Extension

  p Something about windows closing.
