extends layout

block content
  a.signin-btn(href='https://github.com/derekr/tabitha-chrome-extension/releases/download/v1.0.2/tabitha.crx') Download Chrome Extension

  p Welcome to Tab Camp, where every new tab you open fuels the competition.
  p See the number of open tabs on your browser, a leaderboard of the world’s top tabbers, and a listing of the most-tabbed websites of all time.
  p Tab Champ is about building a community and most importantly, a hierarchy.

  a.link(href='/leaderboard') Check out the Global Leaderboard!
  
  a(href='/leaderboard')
    img.img(src='/images/screen1.png')

  a.signin-btn(href='https://github.com/derekr/tabitha-chrome-extension/releases/download/v1.0.2/tabitha.crx') Download Chrome Extension
