doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/build/css/bundle.css')
    link(rel='icon', type='image/png', href='/images/favicon.png')
  body
    img.main-logo(src='/images/tabchamp1.png')
    block content
  script(src='/build/js/bundle.js?v=1')
