extends layout

block content
  div#app-container
    if !user
      a.signin-btn(href='/auth/twitter', target='_blank') Login to Twitter to Begin Tabulation

    div#top
    div#lists
      div#othertop-container
        h2.list-heading Top Tabbers
        div#othertop
