extends layout

block content
  div#app-container
    div#top
    div#lists
      div#othertop-container
        h2.list-heading Top Tabbers
        div#othertop

      div#sites-container
        h2.list-heading Most Tabbed
        div#sites
